$prime: #ff6e48;
$ciBlue: #00fff1;
$ciRed: #ff00aa;
$ciGreen: #46fcb4;
$ciWhite: #ffffff;
$second: #0c1016;
$ciGrey: darken(
  $color: $ciWhite,
  $amount: 40%,
);

$path: url(#mM51xuUryDpy5zRPCJ4TLb_IXUU4h36YfmO_gr2);

$roboto: "Roboto", sans-serif;